interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.radiant.earth/mlhub/v1/collections/ref_african_crops_kenya_02_source/items/ref_african_crops_kenya_02_tile_02_20190721
  response:
    body:
      string: "{\n    \"assets\": {\n        \"B01\": {\n            \"description\":
        null,\n            \"eo:bands\": [\n                {\n                    \"common_name\":
        \"Coastal aerosol\",\n                    \"gsd\": 60,\n                    \"name\":
        \"B01\"\n                }\n            ],\n            \"href\": \"https://api.radiant.earth/mlhub/v1/download/dummy_hash\",\n
        \           \"roles\": [],\n            \"title\": null,\n            \"type\":
        \"image/tiff\"\n        },\n        \"B02\": {\n            \"description\":
        null,\n            \"eo:bands\": [\n                {\n                    \"common_name\":
        \"Blue\",\n                    \"gsd\": 10,\n                    \"name\":
        \"B02\"\n                }\n            ],\n            \"href\": \"https://api.radiant.earth/mlhub/v1/download/dummy_hash\",\n
        \           \"roles\": [],\n            \"title\": null,\n            \"type\":
        \"image/tiff\"\n        },\n        \"B03\": {\n            \"description\":
        null,\n            \"eo:bands\": [\n                {\n                    \"common_name\":
        \"Green\",\n                    \"gsd\": 10,\n                    \"name\":
        \"B03\"\n                }\n            ],\n            \"href\": \"https://api.radiant.earth/mlhub/v1/download/dummy_hash\",\n
        \           \"roles\": [],\n            \"title\": null,\n            \"type\":
        \"image/tiff\"\n        },\n        \"B04\": {\n            \"description\":
        null,\n            \"eo:bands\": [\n                {\n                    \"common_name\":
        \"Red\",\n                    \"gsd\": 10,\n                    \"name\":
        \"B04\"\n                }\n            ],\n            \"href\": \"https://api.radiant.earth/mlhub/v1/download/dummy_hash\",\n
        \           \"roles\": [],\n            \"title\": null,\n            \"type\":
        \"image/tiff\"\n        },\n        \"B05\": {\n            \"description\":
        null,\n            \"eo:bands\": [\n                {\n                    \"common_name\":
        \"Vegetation red edge\",\n                    \"gsd\": 20,\n                    \"name\":
        \"B05\"\n                }\n            ],\n            \"href\": \"https://api.radiant.earth/mlhub/v1/download/dummy_hash\",\n
        \           \"roles\": [],\n            \"title\": null,\n            \"type\":
        \"image/tiff\"\n        },\n        \"B06\": {\n            \"description\":
        null,\n            \"eo:bands\": [\n                {\n                    \"common_name\":
        \"Vegetation red edge\",\n                    \"gsd\": 20,\n                    \"name\":
        \"B06\"\n                }\n            ],\n            \"href\": \"https://api.radiant.earth/mlhub/v1/download/dummy_hash\",\n
        \           \"roles\": [],\n            \"title\": null,\n            \"type\":
        \"image/tiff\"\n        },\n        \"B07\": {\n            \"description\":
        null,\n            \"eo:bands\": [\n                {\n                    \"common_name\":
        \"Vegetation red edge\",\n                    \"gsd\": 20,\n                    \"name\":
        \"B07\"\n                }\n            ],\n            \"href\": \"https://api.radiant.earth/mlhub/v1/download/dummy_hash\",\n
        \           \"roles\": [],\n            \"title\": null,\n            \"type\":
        \"image/tiff\"\n        },\n        \"B08\": {\n            \"description\":
        null,\n            \"eo:bands\": [\n                {\n                    \"common_name\":
        \"NIR\",\n                    \"gsd\": 10,\n                    \"name\":
        \"B08\"\n                }\n            ],\n            \"href\": \"https://api.radiant.earth/mlhub/v1/download/dummy_hash\",\n
        \           \"roles\": [],\n            \"title\": null,\n            \"type\":
        \"image/tiff\"\n        },\n        \"B09\": {\n            \"description\":
        null,\n            \"eo:bands\": [\n                {\n                    \"common_name\":
        \"Water Vapour\",\n                    \"gsd\": 60,\n                    \"name\":
        \"B09\"\n                }\n            ],\n            \"href\": \"https://api.radiant.earth/mlhub/v1/download/dummy_hash\",\n
        \           \"roles\": [],\n            \"title\": null,\n            \"type\":
        \"image/tiff\"\n        },\n        \"B11\": {\n            \"description\":
        null,\n            \"eo:bands\": [\n                {\n                    \"common_name\":
        \"SWIR\",\n                    \"gsd\": 20,\n                    \"name\":
        \"B11\"\n                }\n            ],\n            \"href\": \"https://api.radiant.earth/mlhub/v1/download/dummy_hash\",\n
        \           \"roles\": [],\n            \"title\": null,\n            \"type\":
        \"image/tiff\"\n        },\n        \"B12\": {\n            \"description\":
        null,\n            \"eo:bands\": [\n                {\n                    \"common_name\":
        \"SWIR\",\n                    \"gsd\": 20,\n                    \"name\":
        \"B12\"\n                }\n            ],\n            \"href\": \"https://api.radiant.earth/mlhub/v1/download/dummy_hash\",\n
        \           \"roles\": [],\n            \"title\": null,\n            \"type\":
        \"image/tiff\"\n        },\n        \"B8A\": {\n            \"description\":
        null,\n            \"eo:bands\": [\n                {\n                    \"common_name\":
        \"Narrow NIR\",\n                    \"gsd\": 20,\n                    \"name\":
        \"B8A\"\n                }\n            ],\n            \"href\": \"https://api.radiant.earth/mlhub/v1/download/dummy_hash\",\n
        \           \"roles\": [],\n            \"title\": null,\n            \"type\":
        \"image/tiff\"\n        },\n        \"CLD\": {\n            \"description\":
        null,\n            \"eo:bands\": [\n                {\n                    \"common_name\":
        \"Cloud Probability\",\n                    \"name\": \"CLD\"\n                }\n
        \           ],\n            \"href\": \"https://api.radiant.earth/mlhub/v1/download/dummy_hash\",\n
        \           \"roles\": [],\n            \"title\": null,\n            \"type\":
        \"image/tiff\"\n        }\n    },\n    \"bbox\": [\n        34.2032045415558,\n
        \       0.167021869556755,\n        34.384363429998224,\n        0.441518222808124\n
        \   ],\n    \"collection\": \"ref_african_crops_kenya_02_source\",\n    \"geometry\":
        {\n        \"coordinates\": [\n            [\n                [\n                    34.2032045415558,\n
        \                   0.16703387465341\n                ],\n                [\n
        \                   34.20323495307315,\n                    0.441518222808124\n
        \               ],\n                [\n                    34.384363429998224,\n
        \                   0.44148648939337\n                ],\n                [\n
        \                   34.38432844382599,\n                    0.167021869556755\n
        \               ],\n                [\n                    34.2032045415558,\n
        \                   0.16703387465341\n                ]\n            ]\n        ],\n
        \       \"type\": \"Polygon\"\n    },\n    \"id\": \"ref_african_crops_kenya_02_tile_02_20190721\",\n
        \   \"links\": [\n        {\n            \"href\": \"https://api.radiant.earth/mlhub/v1/collections/ref_african_crops_kenya_02_source\",\n
        \           \"rel\": \"parent\",\n            \"title\": \"Parent collection\",\n
        \           \"type\": \"application/json\"\n        }\n    ],\n    \"properties\":
        {\n        \"datetime\": \"2019-07-21T00:00:00Z\",\n        \"eo:bands\":
        [\n            {\n                \"common_name\": \"Coastal aerosol\",\n
        \               \"gsd\": 60,\n                \"name\": \"B01\"\n            },\n
        \           {\n                \"common_name\": \"Blue\",\n                \"gsd\":
        10,\n                \"name\": \"B02\"\n            },\n            {\n                \"common_name\":
        \"Green\",\n                \"gsd\": 10,\n                \"name\"[...]
