interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://staging.api.radiant.earth/mlhub/v1/datasets/bigearthnet_v1
  response:
    body:
      string: "{\n    \"citation\": \"G. Sumbul, M. Charfuelan, B. Demir, V. Markl,
        \\\"BigEarthNet: A Large-Scale Benchmark Archive for Remote Sensing Image
        Understanding\\\", IEEE International Geoscience and Remote Sensing Symposium,
        pp. 5901-5904, Yokohama, Japan, 2019.\",\n    \"collections\": [\n        {\n
        \           \"id\": \"bigearthnet_v1_source\",\n            \"types\": [\n
        \               \"source_imagery\"\n            ]\n        },\n        {\n
        \           \"id\": \"bigearthnet_v1_labels\",\n            \"types\": [\n
        \               \"labels\"\n            ]\n        }\n    ],\n    \"doi\":
        \"10.14279/depositonce-10149\",\n    \"id\": \"bigearthnet_v1\",\n    \"registry\":
        \"https://registry.mlhub.earth/10.14279/depositonce-10149\",\n    \"title\":
        \"BigEarthNet\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
