interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.radiant.earth/mlhub/v1/collections/ref_african_crops_kenya_02_labels
  response:
    body:
      string: "{\n    \"description\": \"No Description\",\n    \"extent\": {\n        \"spatial\":
        {\n            \"bbox\": [\n                [\n                    34.02206853162399,\n
        \                   0.16703387465341,\n                    34.20323495307315,\n
        \                   0.441545515895902\n                ],\n                [\n
        \                   34.022094366964915,\n                    0.441518222808124,\n
        \                   34.203292802033246,\n                    0.716046625152611\n
        \               ],\n                [\n                    34.2032045415558,\n
        \                   0.167021869556755,\n                    34.384363429998224,\n
        \                   0.441518222808124\n                ],\n                [\n
        \                   34.20323495307315,\n                    0.44148648939337,\n
        \                   34.38442998089197,\n                    0.716002363059778\n
        \               ]\n            ]\n        },\n        \"temporal\": {\n            \"interval\":
        [\n                [\n                    \"2019-01-01T00:00:00Z\",\n                    \"2019-12-31T00:00:00Z\"\n
        \               ]\n            ]\n        }\n    },\n    \"id\": \"ref_african_crops_kenya_02_labels\",\n
        \   \"keywords\": [],\n    \"license\": \"CC-BY-SA-4.0\",\n    \"links\":
        [\n        {\n            \"href\": \"https://api.radiant.earth/mlhub/v1/collections/ref_african_crops_kenya_02_labels\",\n
        \           \"rel\": \"self\",\n            \"title\": null,\n            \"type\":
        \"application/json\"\n        },\n        {\n            \"href\": \"https://api.radiant.earth/mlhub/v1\",\n
        \           \"rel\": \"root\",\n            \"title\": null,\n            \"type\":
        \"application/json\"\n        }\n    ],\n    \"properties\": {},\n    \"providers\":
        [\n        {\n            \"description\": null,\n            \"name\": \"Radiant
        Earth Foundation\",\n            \"roles\": [\n                \"licensor\",\n
        \               \"host\",\n                \"processor\"\n            ],\n
        \           \"url\": \"https://radiant.earth\"\n        }\n    ],\n    \"sci:citation\":
        \"Radiant Earth Foundation (2020) \\\"CV4A Competition Kenya Crop Type Dataset\\\",
        Version 1.0, Radiant MLHub. [Date Accessed] https://doi.org/10.34911/RDNT.DW605X\",\n
        \   \"sci:doi\": \"10.34911/rdnt.dw605x\",\n    \"stac_extensions\": [\n        \"scientific\"\n
        \   ],\n    \"stac_version\": \"1.0.0-beta.2\",\n    \"summaries\": {},\n
        \   \"title\": null\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
