interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.radiant.earth/mlhub/v1/datasets
  response:
    body:
      string: "[\n    {\n        \"citation\": \"Remelgado, Ruben; Zaitov, Sherzod;
        Kenjabaev, Shavkat; Stulina, Galina; Sultanov, Murod; Ibrakhimov, Mirzakhayot;
        et al. (2020): A crop type dataset for consistent land cover classification
        in Central Asia. figshare. Dataset. https://doi.org/10.6084/m9.figshare.12047478.v2\",\n
        \       \"collections\": [\n            {\n                \"id\": \"idiv_asia_crop_type_labels\",\n
        \               \"types\": [\n                    \"labels\"\n                ]\n
        \           }\n        ],\n        \"doi\": \"10.6084/m9.figshare.12047478.v2\",\n
        \       \"id\": \"idiv_asia_crop_type\",\n        \"registry\": \"https://registry.mlhub.earth/10.6084/m9.figshare.12047478.v2\",\n
        \       \"title\": \"A crop type dataset for consistent land cover classification
        in Central Asia\"\n    },\n    {\n        \"citation\": \"G. Sumbul, M. Charfuelan,
        B. Demir, V. Markl, \\\"BigEarthNet: A Large-Scale Benchmark Archive for Remote
        Sensing Image Understanding\\\", IEEE International Geoscience and Remote
        Sensing Symposium, pp. 5901-5904, Yokohama, Japan, 2019.\",\n        \"collections\":
        [\n            {\n                \"id\": \"bigearthnet_v1_source\",\n  [...]
