interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.radiant.earth/mlhub/v1/collections
  response:
    body:
      string: "{\n    \"collections\": [\n        {\n            \"description\":
        \"African Crops Kenya\",\n            \"extent\": {\n                \"spatial\":
        {\n                    \"bbox\": [\n                        [\n                            34.18191992149459,\n
        \                           0.4724181558451209,\n                            34.3714943155646,\n
        \                           0.7144217206851109\n                        ]\n
        \                   ]\n                },\n                \"temporal\": {\n
        \                   \"interval\": [\n                        [\n                            \"2018-04-10T00:00:00Z\",\n
        \                           \"2020-03-13T00:00:00Z\"\n                        ]\n
        \                   ]\n                }\n            },\n            \"id\":
        \"ref_african_crops_kenya_01_labels\",\n            \"keywords\": [],\n            \"license\":
        \"CC-BY-SA-4.0\",\n            \"links\": [\n                {\n                    \"href\":
        \"https://api.radiant.earth/mlhub/v1/collections/ref_african_crops_kenya_01_labels\",\n
        \                   \"rel\": \"self\",\n                    \"title\": null,\n
        \                   \"type\": \"application/json\"\n                },\n                {\n
        \                   \"href\": \"https://api.radiant.earth/mlhub/v1\",\n                    \"rel\":
        \"root\",\n                    \"title\": null,\n                    \"type\":
        \"application/json\"\n                }\n            ],\n            \"properties\":
        {},\n            \"providers\": [\n                {\n                    \"description\":
        null,\n                    \"name\": \"Radiant Earth Foundation\",\n                    \"roles\":
        [\n                        \"licensor\",\n                        \"host\",\n
        \                       \"processor\"\n                    ],\n                    \"url\":
        \"https://radiant.earth\"\n                }\n            ],\n            \"sci:citation\":
        \"PlantVillage (2019) \\\"PlantVillage Kenya Ground Reference Crop Type Dataset\\\",
        Version 1.0, Radiant MLHub. [Date Accessed] https://doi.org/10.34911/RDNT.U41J87\",\n
        \           \"sci:doi\": \"10.34911/rdnt.u41j87\",\n            \"stac_extensions\":
        [\n                \"scientific\"\n            ],\n            \"stac_version\":
        \"1.0.0-beta.2\",\n            \"summaries\": {},\n            \"title\":
        null\n        },\n        {\n            \"description\": \"African Crops
        Kenya Source Imagery\",\n            \"extent\": {\n                \"spatial\":
        {\n                    \"bbox\": [\n                        [\n                            34.18191992149459,\n
        \                           0.4724181558451209,\n                            34.3714943155646,\n
        \                           0.7144217206851109\n                   [...]
