interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.radiant.earth/mlhub/v1/collections/bigearthnet_v1_labels
  response:
    body:
      string: "{\n    \"assets\": {},\n    \"description\": \"BigEarthNet v1.0\",\n
        \   \"extent\": {\n        \"spatial\": {\n            \"bbox\": [\n                [\n
        \                   -9.00023345437725,\n                    1.7542686833884724,\n
        \                   83.44558248555553,\n                    68.02168200047284\n
        \               ]\n            ]\n        },\n        \"temporal\": {\n            \"interval\":
        [\n                [\n                    \"2017-06-13T10:10:31Z\",\n                    \"2018-05-29T11:54:01Z\"\n
        \               ]\n            ]\n        }\n    },\n    \"id\": \"bigearthnet_v1_labels\",\n
        \   \"keywords\": [],\n    \"license\": \"CDLA-Permissive-1.0\",\n    \"links\":
        [\n        {\n            \"href\": \"https://api.radiant.earth/mlhub/v1/collections/bigearthnet_v1_labels\",\n
        \           \"rel\": \"self\",\n            \"title\": null,\n            \"type\":
        \"application/json\"\n        },\n        {\n            \"href\": \"https://api.radiant.earth/mlhub/v1\",\n
        \           \"rel\": \"root\",\n            \"title\": null,\n            \"type\":
        \"application/json\"\n        }\n    ],\n    \"properties\": {},\n    \"providers\":
        [\n        {\n            \"description\": null,\n            \"name\": \"BigEarthNet\",\n
        \           \"roles\": [\n                \"processor\",\n                \"licensor\"\n
        \           ],\n            \"url\": \"http://bigearth.net\"\n        }\n
        \   ],\n    \"sci:citation\": \"G. Sumbul, M. Charfuelan, B. Demir, V. Markl,
        \\\"BigEarthNet: A Large-Scale Benchmark Archive for Remote Sensing Image
        Understanding\\\", IEEE International Geoscience and Remote Sensing Symposium,
        pp. 5901-5904, Yokohama, Japan, 2019.\",\n    \"sci:doi\": \"10.14279/depositonce-10149\",\n
        \   \"stac_extensions\": [\n        \"label\",\n        \"scientific\"\n    ],\n
        \   \"stac_version\": \"1.0.0-beta.2\",\n    \"summaries\": {},\n    \"title\":
        null\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.radiant.earth/mlhub/v1/archive/bigearthnet_v1_labels/info
  response:
    body:
      string: "{\n    \"collection\": \"bigearthnet_v1_labels\",\n    \"dataset\":
        \"bigearthnet_v1\",\n    \"size\": 173029030,\n    \"types\": [\n        \"labels\"\n
        \   ]\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
